@font-face {
    font-family: icon;
    src: url('./dripicons-v2.ttf');
}
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-snap-type: x mandatory;
}
.page{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    width: fit-content;
    height: 100vh;
    /* overflow: scroll; */
    padding-top: 5vh;
    padding-left: 7vw;
}
section{
    width: 80vw;
    overflow: auto;
    height: calc(95vh - 15px);
    margin-right:7vw;
    scroll-snap-align: start;
}
.headerImg{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
h2{
    height: calc(15vh - 15px);
    position: relative;
    font-size: 40px;
}
.icon{
    font-family: icon;
    font-size: 40px;
}
h5{
    padding: 25px 0;
    text-align: justify; 
    text-justify: inter-word;
}
.subImage{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}